In [18]:
import pyspark
# sc = pyspark.SparkContext('local[*]')
sc

In [19]:
# needed whenever working with spark dataframes
from pyspark.sql import SQLContext
!rm -rf metastore_db/

sqlContext = SQLContext(sc)

In [20]:
!wget https://ibm.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv

--2018-07-19 10:12:26--  https://ibm.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv
Resolving ibm.box.com (ibm.box.com)... 107.152.25.197, 107.152.24.197
Connecting to ibm.box.com (ibm.box.com)|107.152.25.197|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: https://ibm.ent.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv [following]
--2018-07-19 10:12:26--  https://ibm.ent.box.com/shared/static/f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv
Resolving ibm.ent.box.com (ibm.ent.box.com)... 107.152.25.211
Connecting to ibm.ent.box.com (ibm.ent.box.com)|107.152.25.211|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://public.boxcloud.com/d/1/b1!icilOzOYWEjx7rY8MEjvoNh7kEh-odlHRp4DhaV4hLAcYx4eDnZLp4oXJJ9NlSeyxISCHlRFtgpvIXQZqs-HWFVmgqxrRRIrtvxvMnN2qOyHKQileMwHEgLcROkLPtsiSFExMDKz-6Q1aLXbWcSyAfFf4hbygcsd_Dg7hoXw64aHLCpE_72Gx8MEcHD7nCjm365lodtfxR_iprdkOjpxi6ys5JlBZTNOXiJD7gK-EA2rj40tgNYJCNTU4ui1MB9k9Ta9l8c17no4BiKIPv2b-P_IDavlKsdD9OlFBAATMd1VSLusT01Rr3roinh4N_gVT8cgFIckzoTJdQ1dNPFZ7P8f4QWVUGCYeXWRJxypvBG4b0JaPCIlnZIJCS_dvtTzr0CfGLS1nJWIHrMxF04NNnRa9VmJlALA75NZTIPYKv8fXIwUQeyognNIAIyw5HSK3UkSTlpkeMojYBf3euqJBBfAUlzuG7pIhLK-RMPhumIuE9pV7xIICZHtdic-oXUIilfGUuYFk1k_J9c-01bziuunzdqJzZIAELFUPzGKksASnxIOliiKn41HaLMZvTKrx9BCiRWZXSE0o_6Iyn1dcsk8oCLuJVzD3kLnlTUj3HOV32aQSMdEZYSTU5CoydfrH-7AYm6N1TGXgPDvLfzM1oN2ffrwzaqLbpTjE_BBwzGaM_FcO3vuEK9Natldu_3tDtN2tYyeK6IAir9_wNG8T-PRjmzD54AHsgqldXR4zs4ywB6p_RZqv6uit3gNxsllF3cQLRB8NOIAPdrXuGBMcg_ufj-MVymy-rk9C6P0kcHnjcHOfBKmA23FfK-KpiMDIpCbJ5nXfGxoQ6wy-Zl6xKWfrcUpjwvhUW7zTm6vP7BR1_VnRQoGnjwYLFCy_bBzq1Zw-2_JXiKK7otQCKQG5DaKT35sEfELUP2GYNOKlJPXUxRaVgPQi4UWRWAYS14WLl02XjQQW-aPvvttF7xFYHfzjUfEynK8FcKd--metyBHMwKL2YOTq8ojIlAWFR3Jn6pN8JGzbH_RbYbkcUowJmFycEzNSWpx9XmxiTqd-JAYCkhMXkh7ZQ7J-Wsw8VZdFYYmH-9WB6Rs-WfdhVNInCjpfLGRGHOSQoZG-6BiFkMon2sf9Qz5rpGhDYTebYNtxOuZOofKnvRiAKiNBGfW9O7FMZuM_8SZw1V7E_N5vpNPB7yn6HB-wY3aBVTPGjXBNDO7MxIkC4ZS1bPGuAQcIu9tJ1Nbhc1fEwRJlhJdjA8fZ1evr0-pyGJ-Sfzrahu4-gv2P_Bo3ZCZAHRIkDEp4fcN0V59g2mY5yuNG6kqj9YR1niP4NhO2efVsY_x3MwywjfjOnxDzkm6DvfPY9bcVDVLWPtI/download [following]
--2018-07-19 10:12:26--  https://public.boxcloud.com/d/1/b1!icilOzOYWEjx7rY8MEjvoNh7kEh-odlHRp4DhaV4hLAcYx4eDnZLp4oXJJ9NlSeyxISCHlRFtgpvIXQZqs-HWFVmgqxrRRIrtvxvMnN2qOyHKQileMwHEgLcROkLPtsiSFExMDKz-6Q1aLXbWcSyAfFf4hbygcsd_Dg7hoXw64aHLCpE_72Gx8MEcHD7nCjm365lodtfxR_iprdkOjpxi6ys5JlBZTNOXiJD7gK-EA2rj40tgNYJCNTU4ui1MB9k9Ta9l8c17no4BiKIPv2b-P_IDavlKsdD9OlFBAATMd1VSLusT01Rr3roinh4N_gVT8cgFIckzoTJdQ1dNPFZ7P8f4QWVUGCYeXWRJxypvBG4b0JaPCIlnZIJCS_dvtTzr0CfGLS1nJWIHrMxF04NNnRa9VmJlALA75NZTIPYKv8fXIwUQeyognNIAIyw5HSK3UkSTlpkeMojYBf3euqJBBfAUlzuG7pIhLK-RMPhumIuE9pV7xIICZHtdic-oXUIilfGUuYFk1k_J9c-01bziuunzdqJzZIAELFUPzGKksASnxIOliiKn41HaLMZvTKrx9BCiRWZXSE0o_6Iyn1dcsk8oCLuJVzD3kLnlTUj3HOV32aQSMdEZYSTU5CoydfrH-7AYm6N1TGXgPDvLfzM1oN2ffrwzaqLbpTjE_BBwzGaM_FcO3vuEK9Natldu_3tDtN2tYyeK6IAir9_wNG8T-PRjmzD54AHsgqldXR4zs4ywB6p_RZqv6uit3gNxsllF3cQLRB8NOIAPdrXuGBMcg_ufj-MVymy-rk9C6P0kcHnjcHOfBKmA23FfK-KpiMDIpCbJ5nXfGxoQ6wy-Zl6xKWfrcUpjwvhUW7zTm6vP7BR1_VnRQoGnjwYLFCy_bBzq1Zw-2_JXiKK7otQCKQG5DaKT35sEfELUP2GYNOKlJPXUxRaVgPQi4UWRWAYS14WLl02XjQQW-aPvvttF7xFYHfzjUfEynK8FcKd--metyBHMwKL2YOTq8ojIlAWFR3Jn6pN8JGzbH_RbYbkcUowJmFycEzNSWpx9XmxiTqd-JAYCkhMXkh7ZQ7J-Wsw8VZdFYYmH-9WB6Rs-WfdhVNInCjpfLGRGHOSQoZG-6BiFkMon2sf9Qz5rpGhDYTebYNtxOuZOofKnvRiAKiNBGfW9O7FMZuM_8SZw1V7E_N5vpNPB7yn6HB-wY3aBVTPGjXBNDO7MxIkC4ZS1bPGuAQcIu9tJ1Nbhc1fEwRJlhJdjA8fZ1evr0-pyGJ-Sfzrahu4-gv2P_Bo3ZCZAHRIkDEp4fcN0V59g2mY5yuNG6kqj9YR1niP4NhO2efVsY_x3MwywjfjOnxDzkm6DvfPY9bcVDVLWPtI/download
Resolving public.boxcloud.com (public.boxcloud.com)... 107.152.24.200, 107.152.25.200
Connecting to public.boxcloud.com (public.boxcloud.com)|107.152.24.200|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1697 (1.7K) [text/csv]
Saving to: 'f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv.2'

f1dhhjnzjwxmy2c1ys2 100%[===================>]   1.66K  --.-KB/s    in 0s

2018-07-19 10:12:27 (105 MB/s) - 'f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv.2' saved [1697/1697]

In [25]:
# using inferschema is very handy, but adds a second pass over the data

df = sqlContext.read.format('com.databricks.spark.csv')\
                .option('header', 'true')\
                .option('inferschema', 'true')\
                .option('mode', 'DROPMALFORMED')\
                .load('f1dhhjnzjwxmy2c1ys2whvrgz05d1pui.csv')

In [27]:
df.count()

32

In [26]:
df.printSchema()

root
 |-- car: string (nullable = true)
 |-- mpg: double (nullable = true)
 |-- cyl: integer (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: integer (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: integer (nullable = true)
 |-- am: integer (nullable = true)
 |-- gear: integer (nullable = true)
 |-- carb: integer (nullable = true)

In [32]:
rows = df.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              car| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

In [34]:
rows = df.take(5)

In [35]:
rows

[Row(car='Mazda RX4', mpg=21.0, cyl=6, disp=160.0, hp=110, drat=3.9, wt=2.62, qsec=16.46, vs=0, am=1, gear=4, carb=4),
 Row(car='Mazda RX4 Wag', mpg=21.0, cyl=6, disp=160.0, hp=110, drat=3.9, wt=2.875, qsec=17.02, vs=0, am=1, gear=4, carb=4),
 Row(car='Datsun 710', mpg=22.8, cyl=4, disp=108.0, hp=93, drat=3.85, wt=2.32, qsec=18.61, vs=1, am=1, gear=4, carb=1),
 Row(car='Hornet 4 Drive', mpg=21.4, cyl=6, disp=258.0, hp=110, drat=3.08, wt=3.215, qsec=19.44, vs=1, am=0, gear=3, carb=1),
 Row(car='Hornet Sportabout', mpg=18.7, cyl=8, disp=360.0, hp=175, drat=3.15, wt=3.44, qsec=17.02, vs=0, am=0, gear=3, carb=2)]

In [39]:
rows[0].hp

110

In [41]:
df.limit(5).collect()

[Row(car='Mazda RX4', mpg=21.0, cyl=6, disp=160.0, hp=110, drat=3.9, wt=2.62, qsec=16.46, vs=0, am=1, gear=4, carb=4),
 Row(car='Mazda RX4 Wag', mpg=21.0, cyl=6, disp=160.0, hp=110, drat=3.9, wt=2.875, qsec=17.02, vs=0, am=1, gear=4, carb=4),
 Row(car='Datsun 710', mpg=22.8, cyl=4, disp=108.0, hp=93, drat=3.85, wt=2.32, qsec=18.61, vs=1, am=1, gear=4, carb=1),
 Row(car='Hornet 4 Drive', mpg=21.4, cyl=6, disp=258.0, hp=110, drat=3.08, wt=3.215, qsec=19.44, vs=1, am=0, gear=3, carb=1),
 Row(car='Hornet Sportabout', mpg=18.7, cyl=8, disp=360.0, hp=175, drat=3.15, wt=3.44, qsec=17.02, vs=0, am=0, gear=3, carb=2)]

In [43]:
df.limit(5).toPandas()

,car,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [44]:
df.car

Column<b'car'>

In [45]:
df.car.take(5)

TypeError: 'Column' object is not callable

In [50]:
df.select('car').take(5)

[Row(car='Mazda RX4'),
 Row(car='Mazda RX4 Wag'),
 Row(car='Datsun 710'),
 Row(car='Hornet 4 Drive'),
 Row(car='Hornet Sportabout')]

In [52]:
df.select(df.car).take(5)

[Row(car='Mazda RX4'),
 Row(car='Mazda RX4 Wag'),
 Row(car='Datsun 710'),
 Row(car='Hornet 4 Drive'),
 Row(car='Hornet Sportabout')]

In [51]:
df.select('car', 'mpg').show(5)

+-----------------+----+
|              car| mpg|
+-----------------+----+
|        Mazda RX4|21.0|
|    Mazda RX4 Wag|21.0|
|       Datsun 710|22.8|
|   Hornet 4 Drive|21.4|
|Hornet Sportabout|18.7|
+-----------------+----+
only showing top 5 rows

In [53]:
df.filter(df['mpg'] < 18).show(5)

+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
|        car| mpg|cyl| disp| hp|drat|  wt| qsec| vs| am|gear|carb|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
| Duster 360|14.3|  8|360.0|245|3.21|3.57|15.84|  0|  0|   3|   4|
|  Merc 280C|17.8|  6|167.6|123|3.92|3.44| 18.9|  1|  0|   4|   4|
| Merc 450SE|16.4|  8|275.8|180|3.07|4.07| 17.4|  0|  0|   3|   3|
| Merc 450SL|17.3|  8|275.8|180|3.07|3.73| 17.6|  0|  0|   3|   3|
|Merc 450SLC|15.2|  8|275.8|180|3.07|3.78| 18.0|  0|  0|   3|   3|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
only showing top 5 rows

In [56]:
df[df.mpg < 18].show(5)

+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
|        car| mpg|cyl| disp| hp|drat|  wt| qsec| vs| am|gear|carb|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
| Duster 360|14.3|  8|360.0|245|3.21|3.57|15.84|  0|  0|   3|   4|
|  Merc 280C|17.8|  6|167.6|123|3.92|3.44| 18.9|  1|  0|   4|   4|
| Merc 450SE|16.4|  8|275.8|180|3.07|4.07| 17.4|  0|  0|   3|   3|
| Merc 450SL|17.3|  8|275.8|180|3.07|3.73| 17.6|  0|  0|   3|   3|
|Merc 450SLC|15.2|  8|275.8|180|3.07|3.78| 18.0|  0|  0|   3|   3|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
only showing top 5 rows

In [57]:
# the filter can be just like a SQL where clause
df.filter('mpg < 18').show(5)

+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
|        car| mpg|cyl| disp| hp|drat|  wt| qsec| vs| am|gear|carb|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
| Duster 360|14.3|  8|360.0|245|3.21|3.57|15.84|  0|  0|   3|   4|
|  Merc 280C|17.8|  6|167.6|123|3.92|3.44| 18.9|  1|  0|   4|   4|
| Merc 450SE|16.4|  8|275.8|180|3.07|4.07| 17.4|  0|  0|   3|   3|
| Merc 450SL|17.3|  8|275.8|180|3.07|3.73| 17.6|  0|  0|   3|   3|
|Merc 450SLC|15.2|  8|275.8|180|3.07|3.78| 18.0|  0|  0|   3|   3|
+-----------+----+---+-----+---+----+----+-----+---+---+----+----+
only showing top 5 rows

In [63]:
# dataframes are immutable -- withColumn creates a new one
df = df.withColumn('wtTon', df['wt'] * 0.45)

In [65]:
df.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
|              car| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|  wtTon|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|  1.179|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|1.29375|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|  1.044|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|1.44675|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|  1.548|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
only showing top 5 rows

In [66]:
df.groupby(['cyl'])\
.agg({"wt": "AVG"})\
.show(5)

+---+------------------+
|cyl|           avg(wt)|
+---+------------------+
|  6| 3.117142857142857|
|  4| 2.285727272727273|
|  8|3.9992142857142867|
+---+------------------+

In [67]:
df.groupby(['cyl'])\
.agg({"*": "count"})\
.sort("count(1)", ascending=False)\
.show(5)

+---+--------+
|cyl|count(1)|
+---+--------+
|  8|      14|
|  4|      11|
|  6|       7|
+---+--------+

In [70]:
df.createOrReplaceTempView("cars")

# SQL statements can be run by using the sql method
highgearcars = sqlContext.sql("SELECT car, mpg FROM cars WHERE cyl >= 4 AND cyl <= 9")
highgearcars.show(6)

+-----------------+----+
|              car| mpg|
+-----------------+----+
|        Mazda RX4|21.0|
|    Mazda RX4 Wag|21.0|
|       Datsun 710|22.8|
|   Hornet 4 Drive|21.4|
|Hornet Sportabout|18.7|
|          Valiant|18.1|
+-----------------+----+
only showing top 6 rows

In [71]:
df.select('car', 'mpg').filter('cyl >= 4 and cyl <= 9').show(6)

+-----------------+----+
|              car| mpg|
+-----------------+----+
|        Mazda RX4|21.0|
|    Mazda RX4 Wag|21.0|
|       Datsun 710|22.8|
|   Hornet 4 Drive|21.4|
|Hornet Sportabout|18.7|
|          Valiant|18.1|
+-----------------+----+
only showing top 6 rows

## Exercise 1:

Step 1: Create a list of tuples ("john", 23), ("mr. bean", 56), ("bill clinton", 70)

Step 2: Convert the list to a data frame with two columns

Step 3: Filter the people with age < 40

Step 4: Get the names ONLY of people smaller than 40

Step 5: Register the dataframe as a SQL table

Step 6: Select the names only of people whose age < 40

Some hints: http://spark.apache.org/docs/latest/sql-programming-guide.html#generic-loadsave-functions

## Exercise 2:

Step 1: Create a list of tuple ("john", "male"), ("hilary", "female")

Step 2: Join with the data from the previos exercise and output all males older than 50

Hints: https://databricks.com/blog/2015/02/17/introducing-dataframes-in-spark-for-large-scale-data-science.html

In [ ]:
sc.stop()